<style>
/* Copyright 2017 Google Inc. */

body, html, td, span, div, input, textarea, button {
  font-family: 'Raleway', sans-serif;
  font-size: 14pt;
  color: #3c0bad;
}

body table tr td a {
  padding-left: 5pt;
  padding-right: 5pt;
}

body table tr td a:hover {
  background-color: #90e1e8;
  border-radius: 4pt;
}

button {
  border-radius: 10pt;
  border: 1.5px solid #00000d;
  cursor: pointer;
}

body {
  background: url('background.jpg') top center repeat;
  text-align: center;
  opacity: 1.0;
}

h2 {
  font-family: 'Square Peg', cursive;
  font-size: 70pt;
  font-weight: bold;
  color: #ffffdf;
}

td {
  vertical-align: top;
  padding: 5px;
}

a, a:hover {
  text-decoration: none;
  color: #0000bb;
}

div form textarea {
  border-radius: 10pt;
}

div form input {
  font-family: 'Raleway', sans-serif;
  font-size: 14pt;
  color: #3c0bad;
  border-radius: 10pt;
  border: 1.5px solid #00000d;
}

a.button:visited {
  color: #0000bb;
}

.content {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: rgba(207, 255, 245, 0.85);
  padding: 20px;
  border: 1px solid #ffb149;
  border-radius: 10pt;
}

.menu {
  text-align: left;
  padding: 10px 20px 35px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 90%;
  background: rgba(207, 255, 245, 0.85);
  border: 1px solid #00000d;
  border-radius: 10pt;
}

.menu span a {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
}

.menu-user {
  color: #000000;
  font-weight: bold;
}

#menu-left {
  float: left;
}

#menu-left a, #menu-left a:visited {
  color: #000000;
}

#menu-left a:hover {
  background-color: #90e1e8;
}

#menu-right {
  float: right;
}

#menu-right a, #menu-right a:visited {
  color: #000000;
}
#menu-right a:hover {
  background-color: #90e1e8;
}

.message {
  width: 50%;
  color: #ff0000;
  background: #ffdddd;
  border: 2px solid #ff0000;
  border-radius: 1em;
  -moz-border-radius: 1em;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

input, textarea {
  background-color: #ffffff;
}

.refresh {
  float: center;
  width: 90%;
  text-align: right;
  margin: auto;
  padding-top: 0;
  padding-bottom: 2pt;
  margin-top: 0;
  margin-bottom: 0;
}

.h2-with-refresh {
  margin-bottom: 0;
}

</style>
